.courses{
    margin-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 50px;
    
}
.courses h1{
    font-size: 45px;
    text-align: center;
}
.grid{
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  padding: 16px;
}